<div>
    <menu beer-list='beerList' style="padding-left: 0px" logout="logout" log-out-allowed="true" new-beer="newBeer"></menu>
    <md-list>
        <md-subheader class="md-no-sticky" ng-if="beerListAvailable">{{user.displayName}}s öl</md-subheader>
        <md-list-item ng-repeat="beer in beerList" ng-click="toggle(beer, $index)" class="noright" ng-if="beerListAvailable">
            <p>{{ beer.name}}</p>
            <md-icon md-svg-src="resources/ic_open_in_new_black_24px.svg" class="md-secondary md-hue-3" ng-click="openPublic(user.authData.uid, beer.$id)" aria-label="Öppna publik länk" ng-if='beer.public'></md-icon>
            <md-icon md-svg-src="resources/ic_mode_edit_black_24px.svg" class="md-secondary" ng-click="edit(beer)" arua-label="Redigera"></md-icon>
            <md-icon md-svg-src="resources/ic_delete_black_24px.svg" class="md-secondary" ng-click="remove(beer)" aria-label="Chat"></md-icon>
        </md-list-item>
        <md-subheader class="md-no-sticky" ng-if="beerListAvailable">Publik öl</md-subheader>
        <md-list-item ng-repeat="beer in publicList" class="noright" ng-if="publicListAvailable && (beer.owner !== user.authData.uid)">
            <p>{{beer.name}}</p>
            <md-icon md-svg-src="resources/ic_open_in_new_black_24px.svg" class="md-secondary md-hue-3" ng-click="openPublic(beer.owner, beer.$id)" aria-label="Öppna publik länk"></md-icon>
        </md-list-item>
    </md-list>
    <div class="preloader-wrapper big active loadingIcon" ng-if="!publicListAvailable && beerListAvailable">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
