<ul class="nav nav-tabs marginTop10px">
    <li role="presentation" class="active"><a href="#/beerList">Öllista</a></li>
    <li role="presentation"><a href="#/stock">Förråd</a></li>
    <li role="presentation"><a href="#/ingredients">Ingredienser</a></li>
    <li role="presentation"><a href="#/profiles">Profiler</a></li>
    <li role="presentation">
        <img src="{{user.picture}}" alt="Profilbild" class="resize" >
        {{user.displayName}}
    </li>
</ul>
<div class="containerDiv">
    <div class="newBeerButton">
        <button ng-click="newBeer()" class="btn btn-default" ng-disabled="!beerList || beerList.length >= 20">Ny öl</button>
        <span ng-if="beerList.length >= 20">Max antal recept sparade</span>
    </div>
    <div class="logOutButton">
        <button ng-click="logout()" class="btn btn-default">Logga ut</button>
    </div>
    <table class="table beerTable">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Stil</th>
                <th class="width6">OG</th>
                <th class="width6">FG</th>
                <th class="width6">ABV</th>
                <th class="width6">IBU</th>
                <th class="width10" colspan="2">Färg</th>
                <th class="width6">Redigera</th>
                <th class="width6">Publik</th>
                <th class="width6">Ta bort</th>
            </tr>
        </thead>
        <tbody ng-repeat="beer in beerList"
               ng-class-even="'beerTableEven'" ng-class-odd="'beerTableOdd'">
            <tr ng-click="toggle(beer, $index)">
                <td>{{ beer.name }}</td>
                <td>{{ beer.fullStyle.name }}</td>
                <td>{{ getOG(beer) | number : 3 }}</td>
                <td>{{ getFG(beer) | number : 3 }}</td>
                <td>{{ getABV(beer) | number : 1 }} %</td>
                <td>{{ getIBU(beer) | number : 0 }}</td>
                <td>{{ beer.color | number: 1 }} EBC</td>
                <td style="background-color: {{ getColor(beer) }}"></td>
                <td><button class="btn btn-default glyphicon glyphicon-edit" ng-click="edit(beer)"></td>
                <td><button class="btn btn-default glyphicon glyphicon-globe" ng-click="openPublic(user.authData.uid, beer.$id)" ng-if='beer.public'></td>
                <td><button class="btn btn-default glyphicon glyphicon-minus" ng-click="remove(beer)"></button></td>
            </tr>
            <tr ng-if="openIndex == $index">
                <td colspan="11">
                    <div class="ingredientDiv">
                        <span>Ingredienser</span>
                        <table class="beerIngredientList">
                            <thead>
                                <tr>
                                    <th>Namn</th>
                                    <th>Mängd</th>
                                    <th>Typ</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="ingredientType in beer.ingredients">
                                <tr ng-repeat="ingredient in ingredientType">
                                    <td>{{ ingredient.name }}</td>
                                    <td>
                                        {{ ingredient.amount }} {{ ingredient.unit }}
                                        <span ng-if="ingredient.type == 'malt' || ingredient.type == 'sugar'"> / {{ getPercentage(beer, ingredient) | number: 2 }} %</span>
                                        <span ng-if="ingredient.type == 'hops'"> / {{ ingredient.time | number: 2 }} min</span>
                                    </td>
                                    <td>{{ ingredient.type | ingredientType }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class='table beerTable'>
        <thead>
            <tr>
                <th>Namn</th>
                <th>Stil</th>
                <th class="width6">Publik</th>
            </tr>
        </thead>
        <tbody ng-repeat="beer in publicList">
            <tr ng-if='beer.owner !== user.authData.uid'>
                <td>{{beer.name}}</td>
                <td>{{beer.fullStyle.name}}
                <td><button class="btn btn-default glyphicon glyphicon-globe" ng-click="openPublic(user.authData.uid, beer.id)"></td>
            </tr>
        </tbody>
    </table>
</div>
