<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <h3 class="panel-title">Grund</h3>
            </div>
        </div>
        <ingredient-row value1="editedIngredient.name" label1="'Namn'" type1="'text'"
                        value2="editedIngredient.origin" label2="'Ursprung'" type2="'text'">
        </ingredient-row>
            
        <ingredient-row value1="editedIngredient.color" label1="'Färg'" type1="'number'"
                        value2="editedIngredient.yield" label2="'Utdelning'" type2="'number'">
        </ingredient-row>
    </form>
</div>
<show-advanced flag='showAdvanced'></show-advanced>
<div class="row" ng-show="showAdvanced">
    <form class="col s12">
        <ingredient-row value1="editedIngredient.lateExtract" label1="'Sent extraxt'" type1="'text'"
                        value2="editedIngredient.coarseFineDifference" label2="'Grov/Fin-skillnad'" type2="'text'">
        </ingredient-row>

        <ingredient-row value1="editedIngredient.moisture" label1="'Fukt (dec. %)'" type1="'text'"
                        value2="editedIngredient.diasticPower" label2="'Diastatisk kraft'" type2="'text'">
        </ingredient-row>

        <ingredient-row value1="editedIngredient.protein" label1="'Protein'" type1="'text'"
                        value2="editedIngredient.addAfterBoil" label2="'Efter kokning'" type2="'checkbox'">
        </ingredient-row>

        <ingredient-row value1="editedIngredient.recommendMash" label1="'Mäskas'" type1="'checkbox'"
                        value2="editedIngredient.maxInBatch" label2="'Andel i mäsk'" type2="'number'">
        </ingredient-row>

        <ingredient-row value1="editedIngredient.boilTime" label1="'Koktid (min)'" type1="'number'"
                        value2="editedIngredient.convertGrain" label2="'Konverterat spannmål'" type2="'text'">
        </ingredient-row>
    </form>
</div>
<div class="row">
    <form class="col s12">
        <notes-row notes='editedIngredient.notes'></notes-row>
        <div class="row">
            <div class="input-field col s6">
                <input ng-model="editedIngredient.amount" class="validate" id="malt1">
                <label for="malt1" class="active">Mängd (g)</label>
            </div>
            <div class="input-field col s12 m6">
                <select ng-model="editedIngredient.type" class="form-control" id="malt17">
                    <option value="dryExtract">Torrt extrakt</option>
                    <option value="liquidExtract">Flytande extrakt</option>
                    <option value="hull">Skal</option>
                    <option value="malt" selected>Malt</option>
                </select>
                <label>Typ</label>
            </div>
        </div>
        <ingredient-button-row save="saveMalt(editedIngredient)"
                               cancel="cancelNewIngredient">
        </ingredient-button-row>
    </form>
</div>
<div after-render="afterRender"></div>