<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Grund">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Namn</label>
                        <input ng-model="beer.mash.name" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Maltviktbas</label>
                        <input ng-model="beer.mash.properties.grainWeightBasis" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Koktemperatur (C)</label>
                        <input ng-model="beer.mash.properties.boilingTemp" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>pH</label>
                        <input ng-model="beer.mash.properties.ph" type="number" min='0' ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Temperaturer">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Malt (C)</label>
                        <input ng-model="beer.mash.temperatures.grain" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Tunna (C)</label>
                        <input ng-model="beer.mash.temperatures.tun" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Strilning (C)</label>
                        <input ng-model="beer.mash.temperatures.sparge" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Malt (C)</label>
                        <input ng-model="beer.mash.temperatures.grain" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch ng-model="beer.mash.equipmentTemperatureAdjustment" aria-label="Justera temperaturer" ng-change="update()">
                            Justera temperaturer
                        </md-switch>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Satsstril">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <md-switch ng-model="beer.mash.batchSpargeOptions.batchSparge" aria-label="Använd satsstril" ng-change="update()">
                            Använd satsstril
                        </md-switch>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch ng-model="beer.mash.batchSpargeOptions.equalBatches" aria-label="Lika satser" ng-change="update()">
                            Lika satser
                        </md-switch>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch ng-model="beer.mash.batchSpargeOptions.fillMashTun" aria-label="Fyll mäsktunnan" ng-change="update()">
                            Fyll mäsktunnan
                        </md-switch>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch ng-model="beer.mash.batchSpargeOptions.drainTunBeforeSparge" aria-label="Fyll mäsktunnan" ng-change="update()">
                            Töm tunnan innan strilning
                        </md-switch>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Brew-in-bag">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <md-switch ng-model="beer.mash.brewInBagAndFullBoilMashes.forceFullBoil" aria-label="Tvinga full kokning" ng-change="update()">
                            Tvinga full kokning
                        </md-switch>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Kokvolymbas (l)</label>
                        <input ng-model="beer.mash.brewInBagAndFullBoilMashes.boilVolumeBasis" type="number" min='0' ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Steg {{$index + 1}}" ng-repeat='step in beer.mash.steps'>
                <md-content class="md-padding">
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-fab" aria-label="Spara" ng-click="removeMashStep(beer.mash, $index)">
                            <md-icon md-svg-src="resources/ic_delete_black_24px.svg"></md-icon>
                        </md-button>
                    </section>
                    <md-input-container class="md-block">
                        <label>Namn</label>
                        <input ng-model="step.name" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Typ</label>
                        <input ng-model="step.type" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Temperatur (C)</label>
                        <input ng-model="step.temperature" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Tid (min)</label>
                        <input ng-model="step.time" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Stegringstid (min)</label>
                        <input ng-model="step.riseTime" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Vattenmängd (l)</label>
                        <input ng-model="step.waterToAdd" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Vatten/malt-ratio</label>
                        <input ng-model="step.waterGrainRation" type="number" min='0' ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Anteckningar">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Anteckningar</label>
                        <textarea ng-model="beer.fermentation.notes" md-maxlength="400" rows="5" md-select-on-focus ng-change="update()"></textarea>
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click='addMashStep(beer.mash);'>Lägg till steg</md-button>
        </section>
    </md-content>
</div>
