<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Grund">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Namn</label>
                        <input ng-model="editedIngredient.name" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Min. dämpning (dec. %)</label>
                        <input ng-model="editedIngredient.minAttenuation" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Max. dämpning (dec. %)</label>
                        <input ng-model="editedIngredient.maxAttenuation" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Typ</label>
                        <md-select ng-model="editedIngredient.type" ng-change="update()">
                            <md-option value="ale">Ale</md-option>
                            <md-option value="wheat">Vete</md-option>
                            <md-option value="lager">Lager</md-option>
                            <md-option value="wine">Vin</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Producent">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Producent</label>
                        <input ng-model="editedIngredient.producer" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Produkt-ID</label>
                        <input ng-model="editedIngredient.productId" type="text" ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Användning">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Används till</label>
                        <input ng-model="editedIngredient.useFor" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Min. temperatur (C)</label>
                        <input ng-model="editedIngredient.minTemperature" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Max. temperatur (C)</label>
                        <input ng-model="editedIngredient.maxTemperature" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch ng-model="editedIngredient.addToSecondary" aria-label="I sekundär jäsning" ng-change="update()">
                            I sekundär jäsning
                        </md-switch>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Egenskaper">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Flockning</label>
                        <input ng-model="editedIngredient.flocculation" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Återanvändningar</label>
                        <input ng-model="editedIngredient.maxReuses" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Gigaceller/paket</label>
                        <input ng-model="editedIngredient.billionCellsPerPack" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Form</label>
                        <input ng-model="editedIngredient.form" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch ng-model="editedIngredient.useStarter" aria-label="Använd starter" ng-change="update()">
                            Använd starter
                        </md-switch>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Starterstorlek</label>
                        <input ng-model="editedIngredient.startSize" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Bäst till</label>
                        <input ng-model="editedIngredient.bestFor" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mängd (pkg)</label>
                        <input ng-model="editedIngredient.amount" type="number" min="0" ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Anteckningar">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Anteckningar</label>
                        <textarea ng-model="editedIngredient.notes" md-maxlength="400" rows="5" md-select-on-focus ng-change="update()"></textarea>
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-content ng-show="showButtons">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-fab" aria-label="Spara" ng-click="saveYeast(editedIngredient)">
                <md-icon md-svg-src="resources/ic_save_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="Ångra" ng-click="cancelNewIngredient()">
                <md-icon md-svg-src="resources/ic_cancel_black_24px.svg"></md-icon>
            </md-button>
        </section>
    </md-content>
</div>