<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <h3 class="panel-title">Grund</h3>
            </div>
        </div>
        <ingredient-row value1="editedIngredient.name" label1="'Namn'" type1="'text'"
                        value2="editedIngredient.useFor" label2="'Används till'" type2="'text'">
        </ingredient-row>
            
        <ingredient-row value1="editedIngredient.time" label1="'Tid ({{ editedIngredient.timeUnit }})'" type1="'number'" one="true">
        </ingredient-row>
        
        <notes-row notes='editedIngredient.notes'></notes-row>
        
        <div class="row">
            <div class="input-field col s6">
                <input ng-model="editedIngredient.amount" class="validate" id="malt1">
                <label for="malt1" class="active">Mängd ({{ editedIngredient.unit }})</label>
            </div>
            <div class="input-field col s12 m6">
                <select ng-model="editedIngredient.type" class="form-control" id="malt17">
                    <option value="other" selected>Övrigt</option>
                    <option value="spice">Krydda</option>
                    <option value="flavor">Smak</option>
                    <option value="waterAgent">Vattenbehandling</option>
                    <option value="Clarity">Klarning</option>
                    <option value="herb">Ört</option>
                </select>
                <label>Typ</label>
            </div>
        </div>
        <ingredient-button-row save="saveMisc(editedIngredient)"
                               cancel="cancelNewIngredient()">
        </ingredient-button-row>
    </form>
</div>
<div after-render="afterRender"></div>