<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Grund">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Namn</label>
                        <input ng-model="editedIngredient.name" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Används till</label>
                        <input ng-model="editedIngredient.useFor" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Tid ({{ editedIngredient.timeUnit }})</label>
                        <input ng-model="editedIngredient.time" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mängd ({{ editedIngredient.unit }})</label>
                        <input ng-model="editedIngredient.amount" type="number" min="0" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Typ</label>
                        <md-select ng-model="editedIngredient.type" ng-change="update()">
                            <md-option value="other">Övrigt</md-option>
                            <md-option value="spice">Krydda</md-option>
                            <md-option value="flavor">Smak</md-option>
                            <md-option value="waterAgent">Vattenbehandling</md-option>
                            <md-option value="fining">Klarning</md-option>
                            <md-option value="herb">Ört</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Typ</label>
                        <md-select ng-model="editedIngredient.useIn" ng-change="update()">
                            <md-option value="bottling">Buteljering</md-option>
                            <md-option value="primary">Jäsning, primär</md-option>
                            <md-option value="secondary">Jäsning, sekundär</md-option>
                            <md-option value="mash">Mäskning</md-option>
                            <md-option value="boil">Kokning</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Anteckningar">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Anteckningar</label>
                        <textarea ng-model="editedIngredient.notes" md-maxlength="400" rows="5" md-select-on-focus ng-change="update()"></textarea>
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-content ng-show="showButtons">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-fab" aria-label="Spara" ng-click="saveMisc(editedIngredient)">
                <md-icon md-svg-src="resources/ic_save_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="Ångra" ng-click="cancelNewIngredient()">
                <md-icon md-svg-src="resources/ic_cancel_black_24px.svg"></md-icon>
            </md-button>
        </section>
    </md-content>
</div>