<div class="containerDiv">
    <div class="panel panel-default width100">
        <div class="panel-heading">
            <form class="form-inline width100">
                <div class="form-group width100">
                    <h3 class="panel-title">
                        <label for="name" class="editLabelWidth">Namn</label> <input ng-model="beer.name" class="form-control" id="name"> <span>{{ beer.$id }}</span>
                    </h3>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <form class="form-inline width100">
                <div class="form-group width100">
                    <label for="style" class="editLabelWidth">Stil</label>
                    <select ng-model="beer.parentStyle" id="style" class="form-control" convert-to-number
                            ng-options="style.id as style.name for style in styles">
                    </select>
                    <select ng-model="beer.style" ng-show="subStyles" class="form-control" convert-to-number
                            ng-options="style.id as style.name for style in subStyles">
                    </select>
                </div>
            </form>
            <div>
                <ul>
                    <li>ABV: {{ beer.abv | number: 2}} % ({{beer.fullStyle.abvMin}} - {{beer.fullStyle.abvMax}})</li>
                    <li>IBU: {{ beer.ibu | number: 2 }} ({{beer.fullStyle.ibuMin}} - {{beer.fullStyle.ibuMax}})</li>
                    <li>OG: {{ beer.og | number: 3 }} ({{beer.fullStyle.ogMin}} - {{beer.fullStyle.ogMax}})</li>
                    <li>FG: {{ beer.fg | number: 3 }} ({{beer.fullStyle.fgMin}} - {{beer.fullStyle.fgMax}})</li>
                    <li>Color: {{ beer.color | number: 2 }} EBC ({{beer.fullStyle.ebcMin}} - {{beer.fullStyle.ebcMax}})</li>
                </ul>
            </div>
            <div class="width100" style="background-color: {{ beerColor }}; height: 10px;"></div>
            <table class="table editIngredientList">
                <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Namn</th>
                        <th colspan="2">Mängd</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="ingredient in beer.ingredients.malts">
                    <tr ng-click="toggleIngredient('malts', $index)">
                        <td>{{ ingredient.type | ingredientType }}</td>
                        <td>{{ ingredient.name }}</td>
                        <td>
                            <div class="input-group width100">
                                <input ng-model="ingredient.amount" ng-change="update()" type="number" class="form-control" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">g</span>
                            </div>
                        </td>
                        <td>
                            <span ng-if="ingredient.type == 'malt' || ingredient.type == 'sugar'"> {{ getPercentage(beer, ingredient) | number: 2 }} %</span>
                        </td>
                        <td>
                            <button class="glyphicon glyphicon-remove btn btn-default" ng-click="removeIngredient($index, 'malts')"></button>
                        </td>
                    </tr>
                    <tr ng-show="editIndex == $index && editType == 'malts'">
                        <td colspan="5">
                            <div ng-include="'editBeer/editMalt.html'" ng-init="editedIngredient = ingredient; exists = true;"></div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-repeat="ingredient in beer.ingredients.hops">
                    <tr ng-click="toggleIngredient('hops', $index)">
                        <td>{{ ingredient.type | ingredientType }}</td>
                        <td>{{ ingredient.name }}</td>
                        <td>
                            <div class="input-group width100">
                                <input ng-model="ingredient.amount" type="number" class="form-control" aria-describedby="basic-addon2" ng-change="update()">
                                <span class="input-group-addon" id="basic-addon2">g</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group width100">
                                <input ng-model="ingredient.time" type="number" class="form-control" aria-describedby="basic-addon2" ng-change="update()">
                                <span class="input-group-addon" id="basic-addon2">min</span>
                            </div>
                        </td>
                        <td>
                            <button class="glyphicon glyphicon-remove btn btn-default" ng-click="removeIngredient($index, 'hops')"></button>
                        </td>
                    </tr>
                    <tr ng-show="editIndex == $index && editType == 'hops'">
                        <td colspan="5">
                            <div ng-include="'editBeer/editHops.html'" ng-init="editedIngredient = ingredient; exists = true;"></div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-repeat="ingredient in beer.ingredients.misc">
                    <tr>
                        <td>{{ ingredient.type | ingredientType }}</td>
                        <td>{{ ingredient.name }}</td>
                        <td colspan="2">
                            <div class="input-group width100">
                                <input ng-model="ingredient.amount" type="number" class="form-control" aria-describedby="basic-addon2" ng-change="update()">
                                <span class="input-group-addon" id="basic-addon2">{{ ingredient.unit }}</span>
                            </div>
                        </td>
                        <td>
                            <button class="glyphicon glyphicon-remove btn btn-default" ng-click="removeIngredient($index, 'misc')"></button>
                        </td>
                    </tr>
                    <tr ng-show="editIndex == $index && editType == 'misc'">
                        <td colspan="5">
                            <div ng-include="'editBeer/editMisc.html'" ng-init="editedIngredient = ingredient; exists = true;"></div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-repeat="ingredient in beer.ingredients.yeasts">
                    <tr ng-click="toggleIngredient('yeasts', $index)">
                        <td>{{ ingredient.type | ingredientType }}</td>
                        <td>{{ ingredient.name }}</td>
                        <td colspan="2">
                            <div class="input-group width100">
                                <input ng-model="ingredient.amount" type="number" class="form-control" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">pkg</span>
                            </div>
                        </td>
                        <td>
                            <button class="glyphicon glyphicon-remove btn btn-default" ng-click="removeIngredient($index, 'yeasts')"></button>
                        </td>
                    </tr>
                    <tr ng-show="editIndex == $index && editType == 'yeasts'">
                        <td colspan="5">
                            <div ng-include="'editBeer/editYeast.html'" ng-init="editedIngredient = ingredient; exists = true;"></div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            <select ng-model="newIngredientType" class="form-control">
                                <option value="malt">Malt</option>
                                <option value="hops">Humle</option>
                                <option value="yeasts">Jäst</option>
                                <option value="misc">Övrigt</option>
                            </select>
                        </td>
                        <td>
                            <select ng-model="selectedIngredient" ng-show="newIngredientType == 'malt'" class="form-control">
                                <option ng-repeat="malt in grainList" value="{{malt.name}}">{{ malt.name }} / {{ malt.color }} EBC / {{ malt.yield * 100 }} / {{malt.origin}}</option>
                            </select>
                            <select ng-model="selectedIngredient" ng-show="newIngredientType == 'hops'" class="form-control">
                                <option ng-repeat="hop in hopList" value="{{hop.name}}">{{ hop.name }} / {{ hop.alpha }} / {{ hop.origin }}</option>
                            </select>
                            <select ng-model="selectedIngredient" ng-show="newIngredientType == 'yeasts'" class="form-control">
                                <option ng-repeat="yeast in yeastList" value="{{yeast.name}}">{{ yeast.productId }} {{ yeast.name }} / {{ yeast.minAttenuation }} / {{ yeast.bestFor }}</option>
                            </select>
                            <select ng-model="selectedIngredient" ng-show="newIngredientType == 'misc'" class="form-control">
                                <option ng-repeat="misc in miscList" value="{{misc.name}}">{{ misc.name }}</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-show="editedIngredient">
                        <td colspan="5">
                            <div ng-include="'editBeer/editMalt.html'" ng-if="newIngredientType == 'malt'"></div>
                            <div ng-include="'editBeer/editHops.html'" ng-if="newIngredientType == 'hops'"></div>
                            <div ng-include="'editBeer/editYeast.html'" ng-if="newIngredientType == 'yeasts'"></div>
                            <div ng-include="'editBeer/editMisc.html'" ng-if="newIngredientType == 'misc'"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel panel-default width100">
                <div class="panel-heading" ng-click="showEditEquipment = !showEditEquipment">
                    <div class="form-group width100">
                        <form class="form-inline width100">
                            <label for="equipment" class="editLabelWidth">Utrustning</label>
                            <select ng-model="beer.equipment" id="equipment" class="form-control"
                                    ng-options="equipment as equipment.name for equipment in equipmentList">
                            </select>
                        </form>
                    </div>
                </div>
                <div class="panel-body" ng-show="showEditEquipment">
                    <div ng-include="'editBeer/editEquipment.html'" ng-show="beer.equipment"></div>
                </div>
            </div>
            
            
            <div class="panel panel-default width100">
                <div class="panel-heading" ng-click="showEditMash = !showEditMash">
                    <div class="form-group width100">
                        <form class="form-inline width100">
                            <label for="mash" class="editLabelWidth">Mäskningsprofil</label>
                            <select ng-model="beer.mash" id="mash" class="form-control"
                                    ng-options="mashProfile as mashProfile.name for mashProfile in mashProfiles">
                            </select>
                        </form>
                    </div>
                </div>
                <div class="panel-body" ng-show="showEditMash">
                    <div ng-include="'editBeer/editMashProfile.html'" ng-show="beer.mash"></div>
                </div>
            </div>
            
            
            <div class="panel panel-default width100">
                <div class="panel-heading" ng-click="showEditFermentation = !showEditFermentation">
                    <div class="form-group width100">
                        <form class="form-inline width100">
                            <label for="fermentation" class="editLabelWidth">Jäsningsprofil</label>
                            <select ng-model="beer.fermentation" id="fermentation" class="form-control"
                                    ng-options="fermentationProfile as fermentationProfile.name for fermentationProfile in fermentationProfiles">
                            </select>
                        </form>
                    </div>
                </div>
                <div class="panel-body" ng-show="showEditFermentation">
                    <div ng-include="'editBeer/editFermentationProfile.html'" ng-show="beer.fermentation"></div>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="save()" class="btn btn-default">Spara</button>
    <span>Publik <input type="checkbox" ng-model="beer.public"></span>
    <span class="alert alert-success" role="alert" ng-if="saved">Sparad</span>
</div>