<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <h3 class="panel-title">Grund</h3>
            </div>
        </div>
        <ingredient-row value1="editedIngredient.name" label1="'Namn'" type1="'text'"
                        value2="editedIngredient.origin" label2="'Ursprung'" type2="'text'">
        </ingredient-row>
        
        <div class="row">
            <div class="input-field col s6">
                <input ng-model="editedIngredient.alpha" class="validate" id="hops1">
                <label for="hops1" class="active">Alfasyra (dec. %)</label>
            </div>
            <div class="input-field col s12 m6" after-render="afterRender">
                <select ng-model="editedIngredient.form">
                    <option value="pellet">Pellet</option>
                    <option value="leaf">Kottar</option>
                </select>
                <label>Form</label>
            </div>
        </div>
    </form>
</div>
<show-advanced flag='showAdvanced'></show-advanced>
<div class="row" ng-show="showAdvanced">
    <form class="col s12">
        <ingredient-row value1="editedIngredient.beta" label1="'Betasyra (dec. %)'" type1="'number'"
                        value2="editedIngredient.hopStabilityIndex" label2="'Stabilitetsindex'" type2="'number'">
        </ingredient-row>
        
        <ingredient-row value1="editedIngredient.dryHopTime" label1="'Torrhumlingstid (dagar)'" type1="'number'" one="true"></ingredient-row>
    </form>
</div>
<div class="row">
    <form class="col s12">
        <notes-row notes='editedIngredient.notes'></notes-row>
        
        <ingredient-row value1="editedIngredient.amount" label1="'Mängd (g)'" type1="'number'"
                        value2="editedIngredient.time" label2="'Tid (min)'" type2="'number'">
        </ingredient-row>
        <div class="row">
            <div class="input-field col s12">
                <select ng-model="editedIngredient.type" id="malt17">
                    <option value="bitter" selected>Bitter</option>
                    <option value="aroma">Arom</option>
                    <option value="both">Båda</option>
                </select>
                <label for="hops16" class="active">Typ</label>
            </div>
        </div>
        <ingredient-button-row save="saveHop(editedIngredient)"
                               cancel="cancelNewIngredient()">
        </ingredient-button-row>
    </form>
</div>
<div after-render="afterRender"></div>