<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Grund">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Namn</label>
                        <input ng-model="beer.fermentation.name" type="text" ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Typ</label>
                        <input ng-model="beer.fermentation.type" type="text" ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Primär">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Tid (dagar)</label>
                        <input ng-model="beer.fermentation.primary.time" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mintemperatur (C)</label>
                        <input ng-model="beer.fermentation.primary.temperature.min" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Maxtemperatur (C)</label>
                        <input ng-model="beer.fermentation.primary.temperature.max" type="number" min='0' ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Sekundär" ng-if="beer.fermentation.secondary">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Tid (dagar)</label>
                        <input ng-model="beer.fermentation.secondary.time" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mintemperatur (C)</label>
                        <input ng-model="beer.fermentation.secondary.temperature.min" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Maxtemperatur (C)</label>
                        <input ng-model="beer.fermentation.secondary.temperature.max" type="number" min='0' ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Lagring" ng-if="beer.fermentation.aging">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Tid (dagar)</label>
                        <input ng-model="beer.fermentation.secondary.time" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mintemperatur (C)</label>
                        <input ng-model="beer.fermentation.secondary.temperature.min" type="number" min='0' ng-change="update()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Maxtemperatur (C)</label>
                        <input ng-model="beer.fermentation.secondary.temperature.max" type="number" min='0' ng-change="update()">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Anteckningar">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Anteckningar</label>
                        <textarea ng-model="beer.fermentation.notes" md-maxlength="400" rows="5" md-select-on-focus ng-change="update()"></textarea>
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click='addAging(beer.fermentation);' ng-if='!beer.fermentation.aging'>Lägg till lagring</md-button>
            <md-button class="md-raised md-primary" ng-click='addSecondary(beer.fermentation);' ng-if='!beer.fermentation.secondary'>Lägg till sekundär</md-button>
        </section>
    </md-content>
</div>