<md-tab label="Instruktioner" ng-if="beer.equipment && (beer.mash || beer.fermentation)">
    <mash-instructions beer="beer"></mash-instructions>
    <boil-instructions beer="beer"></boil-instructions>

    <md-card ng-if="beer.fermentation && beer.ingredients.yeasts.length > 0">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Jäsning</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-list class="md-dense" flex>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Primär jäsning</h3>
                        <h4>Tillsätt jäst</h4>
                        <p ng-repeat="yeast in beer.ingredients.yeasts" ng-if="!yeast.addToSecondary || beer.ingredients.yeasts.length == 1 || !beer.fermentation.secondary">
                            {{yeast.amount}} pkg {{yeast.name}} ({{yeast.productId}})
                        </p>
                        <p ng-repeat="misc in beer.ingredients.misc" ng-if="misc.useIn == 'primary'">
                            Tillsätt {{ misc.amount }} {{ misc.unit }} {{ misc.name }}
                        </p>
                        <p>
                            Låt vörten jäsa i {{ beer.fermentation.primary.time }} dagar. Temperaturen bör hålla sig
                            <span ng-if="beer.fermentation.primary.temperature.max != beer.fermentation.primary.temperature.min">mellan {{beer.fermentation.primary.temperature.max}} C och {{beer.fermentation.primary.temperature.min}} C</span>
                            <span ng-if="beer.fermentation.primary.temperature.max == beer.fermentation.primary.temperature.min">till {{beer.fermentation.primary.temperature.max}} C</span>
                        </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-if="beer.fermentation.secondary">
                    <div class="md-list-item-text" layout="column">
                        <h3>Sekundär jäsning</h3>
                        <h4>Förflytta vörten till ett nytt jäskärl</h4>
                        <p ng-repeat="yeast in beer.ingredients.yeasts" ng-if="yeast.addToSecondary">
                            Tillsätt {{yeast.amount}} pkg {{yeast.name}} ({{yeast.productId}}
                        </p>
                        <p ng-repeat="misc in beer.ingredients.misc" ng-if="misc.useIn == 'secondary'">
                            Tillsätt {{ misc.amount }} {{ misc.unit }} {{ misc.name }}
                        </p>
                        <p ng-repeat="hop in beer.ingredients.hops" ng-if="hop.time == 0 && hop.dryHopTime > 0">
                            Tillsätt {{ hop.amount }} {{ hop.unit }} {{ hop.name }} när {{ hop.dryHopTime }} dagar återstår.
                        </p>
                        <p>
                            Låt vörten jäsa i {{ beer.fermentation.secondary.time }} dagar. Temperaturen bör hålla sig
                            <span ng-if="beer.fermentation.secondary.temperature.max != beer.fermentation.secondary.temperature.min">mellan {{beer.fermentation.secondary.temperature.max}} C och {{beer.fermentation.secondary.temperature.min}} C</span>
                            <span ng-if="beer.fermentation.secondary.temperature.max == beer.fermentation.secondary.temperature.min">till {{beer.fermentation.secondary.temperature.max}} C</span>
                        </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-if="beer.fermentation.aging">
                    <div class="md-list-item-text" layout="column">
                        <h3>Lagring</h3>
                        <h4>Förflytta vörten till flaskor eller fat</h4>
                        <p ng-repeat="misc in beer.ingredients.misc" ng-if="misc.useIn == 'bottling'">
                            Tillsätt {{ misc.amount }} {{ misc.unit }} {{ misc.name }}
                        </p>
                        <p>
                            Låt vörten lagras i {{ beer.fermentation.aging.time }} dagar. Temperaturen bör hålla sig
                            <span ng-if="beer.fermentation.aging.temperature.max != beer.fermentation.aging.temperature.min">mellan {{beer.fermentation.aging.temperature.max}} C och {{beer.fermentation.aging.temperature.min}} C</span>
                            <span ng-if="beer.fermentation.aging.temperature.max == beer.fermentation.aging.temperature.min">till {{beer.fermentation.aging.temperature.max}} C</span>
                        </p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-tab>