/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.containerDiv {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto}

.beerTable {
    width: 100%;
}

.beerTable > thead > tr  {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.beerTable > tbody > tr {
    text-align: left;
    height: 35px;
}

.beerTable > thead > tr > th {
    padding-left: 10px;
    padding-right: 10px;
}

.beerTable > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}

.beerTableEven {
    background: #ffffff;
}

.beerTableOdd {
    background: #ccffcc;
}

.beerIngredientList {
    width: 100%;
}

.beerIngredientList > thead > tr  {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.beerIngredientList > tbody > tr {
    text-align: left;
    height: 30px;
}

.beerIngredientList > thead > tr > th {
    padding-left: 10px;
    padding-right: 10px;
}

.beerIngredientList > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}

.beerIngredientList > tbody > tr > td:nth-child(1) {
    width: 50%;
}

.beerIngredientList > tbody > tr > td:nth-child(2) {
    width: 35%;
}

.beerIngredientList > tbody > tr > td:nth-child(3) {
    width: 8%;
}

.ingredientDiv {
    width: 100%
}

.newBeerButton {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logOutButton {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.otherDiv {
    float: right;
    width: 35%
}

.editIngredient {
    width: 70%;
}

.editInputWidth {
    width: 50% !important;
}
.editLabelWidth {
    width: 30%;
}
.width100 {
    width: 100%;
}
.width25 {
    width: 49%;
}
.width51 {
    width: 51% !important;
}
.width80 {
    width: 80% !important;
}

.width6 {
    width: 6%;
}

.width10 {
    width: 10%;
}

.marginTop10px {
    margin-top: 10px;
}

.marginBottom10px {
    margin-bottom: 10px;
}

.marginBottom45px {
    margin-bottom: 45px;
}

.editIngredientList > tbody > tr > td:nth-child(1) {
    width: 8%;
}

.editIngredientList > tbody > tr > td:nth-child(2) {
    width: 50%;
}

.editIngredientList > tbody > tr > td:nth-child(3) {
    width: 15%;
}

.editIngredientList > tbody > tr > td:nth-child(4) {
    width: 15%;
}

img.resize{
    width: 38px;/* you can use % */
    height: auto;
}

img.hopimg {
    width: 210px;
    height: auto;
}

.marginTopNeg13 {
    margin-top: -13px;
}