<md-menu>
    <md-button aria-label="Öppna meny" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-svg-src="resources/ic_menu_black_24px.svg"></md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item ng-if="beerList">
            <md-button ng-click="newBeer()" ng-disabled="!beerList || beerList.length >= user.settings.maxRecipes">
                <md-icon md-svg-src="resources/ic_add_box_black_24px.svg" md-menu-align-target></md-icon>
                Ny öl
                <span ng-if="beerList.length >= user.settings.maxRecipes">&nbsp;Max antal recept sparade</span>
            </md-button>
        </md-menu-item>
        <md-menu-item><md-button ng-href="#/beerList">Öllista</md-button></md-menu-item>
        <md-menu-item><md-button ng-href="#/ingredients">Ingredienser</md-button></md-menu-item>
        <md-menu-item><md-button ng-href="#/profiles">Profiler</md-button></md-menu-item>
        <md-menu-item ng-if="logOutAllowed"><md-button ng-click="logout()">Logga ut</md-button></md-menu-item>
    </md-menu-content>
</md-menu>