<div class="row" ng-click="showAdvanced = !showAdvanced">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <h3 class="panel-title" ng-click="showAdvanced = !showAdvanced">Avancerat
                    <button class="btn-floating btn waves-effect waves-light red" ng-click="showAdvanced = !showAdvanced">
                        <i class="material-icons" ng-if="!showAdvanced" ng-click="showAdvanced = !showAdvanced">expand_more</i>
                        <i class="material-icons" ng-if="showAdvanced" ng-click="showAdvanced = !showAdvanced">expand_less</i>
                    </button>
                </h3>
            </div>
        </div>
    </form>
</div>