  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">
          <img src="{{user.picture}}" alt="Profilbild" class="resize" >
        {{user.displayName}}
      </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#/beerList">Öllista</a></li>
        <li><a href="#/ingredients">Ingredienser</a></li>
        <li class="active"><a href="#/profiles">Profiler</a></li>
        <li><a ng-click="logout()">Logga ut</a></li>
      </ul>
    </div>
  </nav>
<div class="containerDiv">
    <nav>
        <div class="nav-wrapper">
          <a class="brand-logo right" ng-hide="toAdd">
              <button class="btn-floating btn waves-effect waves-light red" ng-click="addNew(selectedList)">
                <i class="material-icons marginTopNeg13">add</i>
            </button>
          </a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li ng-class='{active: selectedList === "malt"}'><a ng-click="selectList('equipment'); cancel();">Utrustning</a></li>
            <li ng-class='{active: selectedList === "hops"}'><a ng-click="selectList('mashProfiles'); cancel();">Mäskprofiler</a></li>
            <li ng-class='{active: selectedList === "yeast"}'><a ng-click="selectList('fermentationProfiles'); cancel();">Jäsningsprofiler</a></li>
          </ul>
        </div>
      </nav>
    <div ng-show="addEquipment">
        <div ng-include="'editBeer/editEquipment.html'" ng-show="add === 'equipment'"></div>
        <div ng-include="'editBeer/editMashProfile.html'" ng-show="add === 'mashProfiles'"></div>
        <div ng-include="'editBeer/editFermentationProfile.html'" ng-show="add === 'fermentationProfiles'"></div>
        <div>
            <button ng-click="save()" class="btn btn-default">Spara</button>
            <button ng-click="cancel()" class="btn btn-default">Ångra</button>
        </div>
    </div>
    <table class="beerTable" ng-if="selectedList === 'equipment'">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Satsstorlek</th>
                <th>Mäsktunna</th>
                <th>Kokvolym</th>
            </tr>
        </thead>
        <tbody ng-repeat="equipment in equipmentList" ng-click="toggle(equipment, $index)"
               ng-class-even="'beerTableEven'" ng-class-odd="'beerTableOdd'">
            <tr>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.batchSize | number: 2 }} l</td>
                <td>{{ equipment.mashLauterTun.volume | number: 2 }} l</td>
                <td>{{ equipment.boiler.boilVolume | number: 2 }} l</td>
            </tr>
        </tbody>
    </table>
    <table class="beerTable" ng-if="selectedList === 'mashProfiles'">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Steg</th>
                <th>Anteckningar</th>
            </tr>
        </thead>
        <tbody ng-repeat="mash in mashProfiles" ng-click="toggle(mash, $index)"
               ng-class-even="'beerTableEven'" ng-class-odd="'beerTableOdd'">
            <tr>
                <td>{{ mash.name }}</td>
                <td>{{ mash.steps.length }}</td>
                <td>{{ mash.notes }}</td>
            </tr>
        </tbody>
    </table>
    <table class="beerTable" ng-if="selectedList === 'fermentationProfiles'">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Anteckningar</th>
            </tr>
        </thead>
        <tbody ng-repeat="fermentation in fermentationProfiles" ng-click="toggle(fermentation, $index)"
               ng-class-even="'beerTableEven'" ng-class-odd="'beerTableOdd'">
            <tr>
                <td>{{ fermentation.name }}</td>
                <td>{{ fermentation.notes }}</td>
            </tr>
        </tbody>
    </table>
</div>