<div class="containerDiv">
    <table class="beerIngredientList">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Mängd</th>
                <th>Typ</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="ingredientType in beer.ingredients">
            <tr ng-repeat="ingredient in ingredientType">
                <td>{{ ingredient.name }}</td>
                <td ng-if="editIndex != $parent.$parent.$index">
                    {{ ingredient.amount }} {{ ingredient.unit }} <span ng-if="ingredient.type == 'malt' || ingredient.type == 'sugar'"> {{ getPercentage(beer, ingredient) | number: 2 }} %</span>
                </td>
                <td ng-if="editIndex == $parent.$parent.$index">
                    <input ng-model="ingredient.amount" class="editIngredient"> {{ ingredient.unit }}
                </td>
                <td>{{ ingredient.type | ingredientType }}</td>
                <td>
                    <button ng-if="editIndex == $parent.$parent.$index" ng-click="deleteIngredient(beer, ingredient, ingredientType, $index)">-</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
