<div class="containerDiv" ng-cloak ng-if='beer && beer.public'>
    <md-list>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                <h3>{{ beer.name}}</h3>
                <p>{{ beer.fullStyle.name}} ({{ beer.parentStyle}}:{{ beer.style}})</p>
            </div>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Ingredienser">
                <info-slider header="'ABV'" value="beer.abv" min='beer.fullStyle.abvMin' max='beer.fullStyle.abvMax' round="'2'"></info-slider>
                <info-slider header="'IBU'" value="beer.ibu" min='beer.fullStyle.ibuMin' max='beer.fullStyle.ibuMax' round="'0'"></info-slider>
                <info-slider header="'OG'" value="beer.og" min='beer.fullStyle.ogMin' max='beer.fullStyle.ogMax' round="'3'"></info-slider>
                <info-slider header="'FG'" value="beer.fg" min='beer.fullStyle.fgMin' max='beer.fullStyle.fgMax' round="'3'"></info-slider>
                <info-slider header="'EBC'" value="beer.color" min='beer.fullStyle.ebcMin' max='beer.fullStyle.ebcMax' round="'0'"></info-slider>
                <div class="width100" style="background-color: {{ beerColor}}; height: 10px;"></div>
                <md-divider></md-divider>
                <md-list class="md-dense" flex>
                    <md-subheader class="md-no-sticky" ng-if="beer.ingredients.malts.length > 0">Malt</md-subheader>
                    <div ng-repeat="ingredient in beer.ingredients.malts" >
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ ingredient.name}}</h3>
                                <p>{{ ingredient.type | ingredientType }}</p>
                            </div>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{ ingredient.amount}} g</h3>
                                <p ng-if="ingredient.type == 'malt' || ingredient.type == 'sugar'">{{ getPercentage(beer, ingredient) | number: 2}} %</p>
                            </div>
                            <md-icon md-svg-src="resources/ic_delete_black_24px.svg" class="md-secondary" ng-click="removeIngredient($index, 'malts')" aria-label="Chat"></md-icon>
                        </md-list-item>
                    </div>
                    <md-subheader class="md-no-sticky" ng-if="beer.ingredients.hops.length > 0">Humle</md-subheader>
                    <div ng-repeat="ingredient in beer.ingredients.hops" >
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ ingredient.name}}</h3>
                                <p>{{ ingredient.type | ingredientType }}</p>
                            </div>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{ ingredient.amount}} g</h3>
                                <p ng-if="ingredient.type == 'malt' || ingredient.type == 'sugar'">{{ getPercentage(beer, ingredient) | number: 2}} %</p>
                            </div>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{ ingredient.time}} min</h3>
                                <p></p>
                            </div>
                            <md-icon md-svg-src="resources/ic_delete_black_24px.svg" class="md-secondary" ng-click="removeIngredient($index, 'hops')" aria-label="Chat"></md-icon>
                        </md-list-item>
                    </div>
                    <md-subheader class="md-no-sticky" ng-if="beer.ingredients.misc.length > 0">Övrigt</md-subheader>
                    <div ng-repeat="ingredient in beer.ingredients.misc" >
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ ingredient.name}}</h3>
                                <p>{{ ingredient.type | ingredientType }}</p>
                            </div>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{ ingredient.amount}} {{ ingredient.unit}}</h3>
                                <p></p>
                            </div>
                            <md-icon md-svg-src="resources/ic_delete_black_24px.svg" class="md-secondary" ng-click="removeIngredient($index, 'misc')" aria-label="Chat"></md-icon>
                        </md-list-item>
                    </div>
                    <md-subheader class="md-no-sticky" ng-if="beer.ingredients.yeasts.length > 0">Jäst</md-subheader>
                    <div ng-repeat="ingredient in beer.ingredients.yeasts" >
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ ingredient.name}}</h3>
                                <p>{{ ingredient.type | ingredientType }}</p>
                            </div>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{ ingredient.amount}} pkg</h3>
                                <p></p>
                            </div>
                            <md-icon md-svg-src="resources/ic_delete_black_24px.svg" class="md-secondary" ng-click="removeIngredient($index, 'yeasts')" aria-label="Chat"></md-icon>
                        </md-list-item>
                    </div>
                </md-list>
            </md-tab>
            <md-tab label="Profiler">
                <md-list>
                    <md-list-item>
                        <md-button class="md-fab" aria-label="Expandera/Kollapsa" ng-click="showEditEquipment = !showEditEquipment">
                            <md-icon md-svg-src="resources/ic_expand_more_black_24px.svg" ng-if="!showEditEquipment"></md-icon>
                            <md-icon md-svg-src="resources/ic_expand_less_black_24px.svg" ng-if="showEditEquipment"></md-icon>
                        </md-button>
                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                            <p>{{beer.equipment.name}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="width100" ng-show="showEditEquipment">
                            <div ng-include="'public/showEquipment.html'" ng-show="beer.equipment"></div>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-fab" aria-label="Expandera/Kollapsa" ng-click="showEditMash = !showEditMash">
                            <md-icon md-svg-src="resources/ic_expand_more_black_24px.svg" ng-if="!showEditMash"></md-icon>
                            <md-icon md-svg-src="resources/ic_expand_less_black_24px.svg" ng-if="showEditMash"></md-icon>
                        </md-button>
                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                            <p>{{beer.mash.name}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="width100" ng-show="showEditMash">
                            <div ng-include="'public/showMashProfile.html'" ng-show="beer.mash"></div>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-fab" aria-label="Expandera/Kollapsa" ng-click="showEditFermentation = !showEditFermentation">
                            <md-icon md-svg-src="resources/ic_expand_more_black_24px.svg" ng-if="!showEditFermentation"></md-icon>
                            <md-icon md-svg-src="resources/ic_expand_less_black_24px.svg" ng-if="showEditFermentation"></md-icon>
                        </md-button>
                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                            <p>{{beer.fermentation.name}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="width100" ng-show="showEditFermentation">
                            <div ng-include="'public/showFermentationProfile.html'" ng-show="beer.fermentation"></div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </md-content>
</div>