<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Grund">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Namn</label>
                        <input ng-model="beer.equipment.name" type="text" disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Satsstorlek</label>
                        <input ng-model="beer.equipment.batchSize" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Effektivitet</label>
                        <input ng-model="beer.equipment.efficiency" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Humleanvändning</label>
                        <input ng-model="beer.equipment.hopUtilization" type="number" min='0' disabled="true">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Mäsk/siltunna">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Volym (l)</label>
                        <input ng-model="beer.equipment.mashLauterTun.volume" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Massa (g)</label>
                        <input ng-model="beer.equipment.mashLauterTun.mass" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Värmekapacitet</label>
                        <input ng-model="beer.equipment.mashLauterTun.specificHeat" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Oanvändbart utrymme (l)</label>
                        <input ng-model="beer.equipment.mashLauterTun.deadSpace" type="number" min='0' disabled="true">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Kokare">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Fyll ut kokning (l)</label>
                        <input ng-model="beer.equipment.boiler.kettleTopUp" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch ng-model="beer.equipment.boiler.calculatBoilVolume" aria-label="Lägg till efter kokning" disabled="true">
                            Räkna ut kokvolym
                        </md-switch>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Kokvolym (l)</label>
                        <input ng-model="beer.equipment.boiler.boilVolume" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Koktid (min)</label>
                        <input ng-model="beer.equipment.boiler.boilTime" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Avkokningsförlust (l)</label>
                        <input ng-model="beer.equipment.boiler.boilOff" type="number" min='0' disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Kylningsförlust (l)</label>
                        <input ng-model="beer.equipment.boiler.coolingLoss" type="number" min='0' disabled="true">
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>