<div>
    <div class="panel panel-default width100">
        <div class="panel-heading">
            <h3 class="panel-title">Grund</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="mash1" class="editLabelWidth">Namn</label>
                    {{ beer.mash.name }}
                </div>
            </form>
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="mash6" class="editLabelWidth">Maltviktbas</label>
                    {{ beer.mash.properties.grainWeightBasis }}
                </div>
                <div class="form-group width25">
                    <label for="mash7" class="editLabelWidth">Koktemperatur</label>
                    {{ beer.mash.properties.boliingTemp }} C
                </div>
            </form>
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="mash8" class="editLabelWidth">pH</label>
                    {{ beer.mash.properties.ph }}
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default width100">
        <div class="panel-heading">
            <h3 class="panel-title">Temperaturer</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="mash3" class="editLabelWidth">Malt</label>
                    {{ beer.mash.temperatures.grain }} C
                </div>
                <div class="form-group width25">
                    <label for="mash4" class="editLabelWidth">Tunna</label>
                    {{ beer.mash.temperatures.tun }} C
                </div>
            </form>
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="mash5" class="editLabelWidth">Strilning</label>
                    {{ beer.mash.temperatures.sparge }} C
                </div>
                <div class="form-group width25">
                    <label for="mash2" class="editLabelWidth">Justera temperaturer</label>
                    {{ beer.mash.equipmentTemperatureAdjustment }}
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default width100">
        <div class="panel-heading">
            <h3 class="panel-title">Satsstril</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="mash9" class="editLabelWidth">Använd satsstril</label>
                    {{ beer.mash.batchSpargeOptions.batchSparge }}
                </div>
                <div class="form-group width25" ng-if="beer.mash.batchSpargeOptions.batchSparge">
                    <label for="mash10" class="editLabelWidth">Lika satser</label>
                    {{ beer.mash.batchSpargeOptions.equalBatches }}
                </div>
            </form>
            <form class="form-inline width100" ng-if="beer.mash.batchSpargeOptions.batchSparge">
                <div class="form-group width25">
                    <label for="mash11" class="editLabelWidth">Fyll mäsktunnan</label>
                    {{ beer.mash.batchSpargeOptions.fillMashTun }}
                </div>
                <div class="form-group width25">
                    <label for="mash12" class="editLabelWidth">Töm tunnan innan strilning</label>
                    {{ beer.mash.batchSpargeOptions.dainTunBeforeSparge }}
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default width100">
        <div class="panel-heading">
            <h3 class="panel-title">Brew-in-bag</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="mash13" class="editLabelWidth">Tvinga full kokning</label>
                    {{ beer.mash.brewInBagAndFullBoilMashes.forceFullBoil }}
                </div>
                <div class="form-group width25">
                    <label for="mash14" class="editLabelWidth">Kokvolymbas</label>
                    {{ beer.mash.brewInBagAndFullBoilMashes.boilVolumeBasis }}
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default width100" ng-repeat="step in beer.mash.steps">
        <div class="panel-heading">
            <h3 class="panel-title">Steg {{ $index + 1 }}</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="step1" class="editLabelWidth">Namn</label>
                    {{ step.name }}
                </div>
                <div class="form-group width25">
                    <label for="step2" class="editLabelWidth">Typ</label>
                    {{ step.type }}
                </div>
            </form>
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="step1" class="editLabelWidth">Temperatur</label>
                    {{ step.temperature }} C
                </div>
                <div class="form-group width25">
                    <label for="step2" class="editLabelWidth">Tid</label>
                    {{ step.time }} min
                </div>
            </form>
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="step1" class="editLabelWidth">Stegringstid</label>
                    {{ step.riseTime }} min
                </div>
                <div class="form-group width25">
                    <label for="step2" class="editLabelWidth">Vattenmängd</label>
                    {{ step.waterToAdd }} l
                </div>
            </form>
            <form class="form-inline width100">
                <div class="form-group width25">
                    <label for="step1" class="editLabelWidth">Vatten/malt-ration</label>
                    {{ step.waterGrainRation }}
                </div>
            </form>
        </div>
    </div>
    <form class="form-inline width100">
        <div class="form-group width25">
            <label for="malt16" class="editLabelWidth">Anteckningar</label>
            {{ beer.mash.notes }}
        </div>
    </form>
</div>
